# .clang-tidy
Checks: >
  *,
  -llvm-header-guard,
  -bugprone-easily-swappable-parameters,
  -misc-unused-parameters,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -altera-unroll-loops,
  -misc-include-cleaner

CheckOptions:
  # 全局变量（含静态全局）：g_前缀 + 小写下划线 g_user_timeout
  - key: readability-identifier-naming.GlobalVariableCase
    value: lower_case
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: g_
  # 局部变量：纯小写下划线 uart_buf
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  # 静态局部变量 s_前缀 s_count （只影响函数内的 static）
  - key: readability-identifier-naming.StaticVariableCase
    value: lower_case
  - key: readability-identifier-naming.StaticVariablePrefix
    value: s_
  # 常量 k_前缀 k_max_len
  - key: readability-identifier-naming.ConstantCase
    value: lower_case
  - key: readability-identifier-naming.ConstantPrefix
    value: k_
  # 宏定义：全大写 UART_RX_BUF_LEN
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  # 函数：小写下划线 void uart_send_data()
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  # 结构体：大驼峰 StUartHandle
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  # 枚举：大驼峰 EnumState
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  # 枚举值：全大写 STATE_IDLE
  - key: readability-identifier-naming.EnumConstantCase
    value: UPPER_CASE
  # 类型别名：大驼峰
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase

HeaderFilterRegex: '^(user\/.*)$'